nav {
    overflow: auto;
}
li {
  float: left;
  }
  .bodyFrame{
    position: absolute;
    width: 1920px;
    height: 1104px;
    left: 0px;
    top: 0px;

  }
  .navigation{
    position: absolute;
    width: 1924.5px;
    height: 122.46px;
    left: 0px;
    top: 0px;
  }
  .navbar-brand{
    position: absolute;
    width: 229px;
    height: 91px;
    left: 201px;
    top: 1px;
  }
  .Vector2{
    width: 1924.5px;
    height: 122.46px;
    left: 0px;
    top: 0px;
  }
  .homeBox{
    box-sizing: border-box;

/* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    gap: 10px;

    width: 144px;
    height: 42px;

    /* W */

    border: 2px solid #FFFFFF;
    border-radius: 33px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;}
  li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 24px;
    gap: 10px;

    width: 144px;
    height: 42px;

    /* W */

    border-radius: 33px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  li a {
    width: 96px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* W */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .Frame20{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 541px;
    height: 42px;
    left: 703px;
    top: 29px;

  }

  .Frame21{
    box-sizing: border-box;

    position: absolute;
    width: 32px;
    height: 32px;
    left: 0px;
    top: 0px;

    /* W */

    border: 1px solid #FFFFFF;
    border-radius: 16px;
  }

  .Frame22{
    /* Frame 22 */


/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 137px;
    height: 32px;
    left: 1456px;
    top: 34px;
  }

  .Group{
    /* Group */


    width: 32px;
    height: 32px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .phoneNumber{
    width: 97px;
    height: 20px;

    /* Montserrat / 16 bold */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    /* W */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .imagebg{
    position: absolute;
    width: 1784px;
    height: 961px;
    left: 75px;
    top: 70px;

    /* Gradient / bg */
  }
  .groupbg{
    position: absolute;
    left: -0.56%;
    right: -0.02%;
    top: 0.1%;
    bottom: -13.74%;

  }
  .mainBG{
    position: relative;
    width: 1920px;
    height: 1080px;

    /* bg */

    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
    border-radius: 32px;
  }
  .Lisa{
        position: absolute;
        width: 300px;
        height: 450px;
        left: -170px;
        top: 195px;

        background: url(Lisa_Arnold_Lay_Do_F2.png);

  }
  .group1{
    position: absolute;
    width: 284px;
    height: 80px;
    left: 1120px;
    top: 320px;

    /* button */

    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45)); 

  }
  .yourticket{
    position: absolute;
    left: 71.36%;
    right: 20.04%;
    top: 32.43%;
    bottom: 63.86%;

    /* Koni / 28 */

    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;

    /* W */

    color: #FFFFFF;

  }
  .DamSen{
    position: absolute;
    width: 322px;
    height: 70px;
    left: 397px;
    top: 137px;

    


    /* W */

    color: #FFFFFF;

  }
  .Park{
    position: absolute;
    width: 197px;
    height: 50px;
    left: 402px;
    top: 213px;



    /* W */

    color: #FFFFFF;
  }
  .image2{
    position: absolute;
    left: 10.42%;
    right: 80.16%;
    top: 14.22%;
    bottom: 72.64%;

  }
  .renderfixhair1{
    position: absolute;
    width: 788px;
    height: 443px;
    left: 1052px;
    top: 23px;

  }
  .balloon6{
    position: absolute;
    width: 147.37px;
    height: 210px;
    left: 18px;
    top: 321px;

  }
  .balloon5{
    position: absolute;
    left: 91.67%;
    right: -1.98%;
    top: 34.15%;
    bottom: 40.22%;

    background: url(18451 [Converted]-05.png);
  }
  .balloon4{
    position: absolute;
    left: 32.81%;
    right: 61.46%;
    top: 84.78%;
    bottom: 1%;

    background: url(18451 [Converted]-04.png);
  }
  .balloon3-2{
    position: absolute;
    left: 88.18%;
    right: 3.18%;
    top: 74.82%;
    bottom: 3.71%;

    background: url(18451 [Converted]-03.png);
  }
  .balloon3-1{
    position: absolute;
    left: 42.03%;
    right: 50.47%;
    top: 16.58%;
    bottom: 64.86%;

    background: url(18451 [Converted]-03.png);
  }
  .balloon2{
    position: absolute;
    left: 53.59%;
    right: 40.31%;
    top: 8.61%;
    bottom: 75.63%;

    background: url(18451 [Converted]-02.png);
  }
  .FrameTicket{
    position: absolute;
    width: 1520px;
    height: 600px;
    left: 201px;
    top: 361px;}

  .FrameDatve{
    position: absolute;
    left: 70.2%;
    right: 5.59%;
    top: 80.83%;
    bottom: 7.83%;

    /* button */

    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  }
  .FrameInfo{
    position: absolute;
    left: 66.84%;
    right: 2.43%;
    top: 14.5%;
    bottom: 23.17%;
  }
  .Frame5{
    position: absolute;
    width: 398px;
    height: 56px;
    left: 0px;
    top: 0px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame6{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 260px;

    position: absolute;
    width: 150px;
    height: 56px;
    left: 0px;
    top: 72px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame7{
    position: absolute;
    width: 224px;
    height: 56px;
    left: 174px;
    top: 72px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame8{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;

    position: absolute;
    width: 467px;
    height: 66px;
    left: 0px;
    top: 144px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame9{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;

    position: absolute;
    width: 467px;
    height: 66px;
    left: 0px;
    top: 226px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame10{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;

    position: absolute;
    width: 467px;
    height: 66px;
    left: 0px;
    top: 308px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
  }
  .Frame28{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 407px;
  }
  .Frame27{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 351px;

  }
  .Frame26{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 295px;

  }
  .Frame25{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 239px;

  }
  .LoremParagraph{
    position: absolute;
    left: 4.47%;
    right: 40.92%;
    top: 8%;
    bottom: 67%;

    /* 20 medium */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    /* Text */

    color: #23221F;

    opacity: 0.7;
  }
  .Textlorem{
    width: 703px;
    height: 36px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Text */

    color: #23221F;

    opacity: 0.8;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .Datve{
    position: absolute;
    left: 37.23%;
    right: 37.23%;
    top: 8.82%;
    bottom: 2.94%;

    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;

    /* W */

    color: #FFFFFF;
  }
  .GroupForm1{
    position: absolute;
    left: 0%;
    right: 37.5%;
    top: 0%;
    bottom: 0%;
  }
  .GroupForm2{
    position: absolute;
    left: 64.47%;
    right: 0.07%;
    top: 0.04%;
    bottom: 0%;
  }
  .VectorLink{
    position: absolute;
    left: 59.67%;
    right: 31.05%;
    top: 0%;
    bottom: 2.7%;

  }
  .VeCuaBan{
    position: absolute;
    left: 62.18%;
    right: 17.03%;
    top: 31.34%;
    bottom: 61.41%;
  }
  .YellowBox{
    position: absolute;
    left: -0.54%;
    right: -0.41%;
    top: -0.13%;
    bottom: 16.32%;
  }
  .DownArrow{
    position: absolute;
    left: 32%;
    right: 25%;
    top: 30.17%;
    bottom: 25.17%;

    /* W */

  }
  .Calendar{
    position: absolute;
    left: 20%;
    right: 25%;
    top: 15.17%;
    bottom: 26.17%;

    /* W */

  }
  .Yellow1{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 414px;
    top: 0px;

    filter: drop-shadow(0px 3px 2px #DE9959);
  }
  .Yellow2{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 414px;
    top: 72px;

    filter: drop-shadow(0px 3px 2px #DE9959);
  }
  .redbox{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 10.49%;

    /* button */

    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
  }
  