.khungchuave{
	/* khung chứa vé */


position: absolute;
width: 1520px;
height: 654px;
left: 200px;
top: 263px;

}
.tensukien1{
  /* Sự kiện 1 */


position: absolute;
left: 42.32%;
right: 42.32%;
top: 8.84%;
bottom: 84.08%;

font-family: 'iCiel Koni';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 100px;
/* or 156% */

display: flex;
align-items: center;

/* W */

color: #FFFFFF;
}
.groupsukien1{
	position: absolute;
left: 0%;
right: 0.07%;
top: 0%;
bottom: 0%;

}